.list-lorem {
	font-style: italic;
}

.quote {
	font-weight: bold;
	font-size: 20px;
}

.scroll {
	white-space: nowrap !important;
	overflow-x: auto !important;
	-webkit-overflow-scrolling: touch !important;
	-ms-overflow-style: -ms-autohiding-scrollbar !important;
}

.label {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
								supported by Chrome and Opera */
}

.wk-style {
	text-decoration: none !important;
}

.panel-title {
	/*font-size: 14px;*/
}

.panel {
	/*margin-bottom: 4px;*/
}

hr {
	margin-bottom: 13px;
	margin-top: 13px;
}

.grid-row-selected {
	background: #cde6f7 !important;
}

.tbl-admin {
	font-size: 12px;
}

/*
.pagination {
	margin-top: -12px;
}


.btn {
  font-size: 11px;
}

.table-responsive {
  font-size: 12px;
}

.pagination {
  font-size: 9px;
}*/

.glyphicon-refresh-animate {
    -animation: spin .8s infinite linear;
    -ms-animation: spin .8s infinite linear;
    -webkit-animation: spinw .8s infinite linear;
    -moz-animation: spinm .8s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}